<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlowUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1414},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>BlowUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1414},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>BlowUp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1414},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>Guard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,967},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>Guard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,906},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>Guard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1076},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1414},{113,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,68}}</string>
                <key>sourceSize</key>
                <string>{113,68}</string>
            </dict>
            <key>aboutcontent.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1486},{522,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,680}}</string>
                <key>sourceSize</key>
                <string>{522,680}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{522,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,800}}</string>
                <key>sourceSize</key>
                <string>{522,800}</string>
            </dict>
            <key>blood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2012},{19,169}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{19,169}}</string>
                <key>sourceSize</key>
                <string>{43,201}</string>
            </dict>
            <key>blood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2012},{21,169}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{21,169}}</string>
                <key>sourceSize</key>
                <string>{43,201}</string>
            </dict>
            <key>bloodbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,201},{41,197}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,197}}</string>
                <key>sourceSize</key>
                <string>{43,201}</string>
            </dict>
            <key>bloodbar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,2},{41,197}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{41,197}}</string>
                <key>sourceSize</key>
                <string>{43,201}</string>
            </dict>
            <key>boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,444},{356,184}}</string>
                <key>offset</key>
                <string>{-2,198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,50},{356,184}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{192,190}}</string>
                <key>offset</key>
                <string>{107,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,202},{192,190}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1076},{336,294}}</string>
                <key>offset</key>
                <string>{27,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,228},{336,294}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{452,522}}</string>
                <key>offset</key>
                <string>{-8,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{452,522}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{424,524}}</string>
                <key>offset</key>
                <string>{-5,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{424,524}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,456},{448,484}}</string>
                <key>offset</key>
                <string>{-1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{448,484}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2012},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>double.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{172,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,97}}</string>
                <key>sourceSize</key>
                <string>{172,97}</string>
            </dict>
            <key>enemy1_flying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,531},{58,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{58,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>enemy1blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2035},{46,8}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,8}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>enemy1bloodbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2034},{56,12}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,12}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>enemy2_flying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,685},{88,78}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{88,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>enemy2blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2035},{65,11}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,11}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>enemy2bloodbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2010},{79,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,17}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>enemy3_flying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,428},{146,150}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{146,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>enemy3blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2012},{130,20}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{130,20}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>enemy3bloodbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2010},{158,36}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{158,36}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1044},{123,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,126}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>helpcontent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{522,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,680}}</string>
                <key>sourceSize</key>
                <string>{522,680}</string>
            </dict>
            <key>helphighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,906},{171,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,166}}</string>
                <key>sourceSize</key>
                <string>{171,166}</string>
            </dict>
            <key>mutibullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2012},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>player1_flying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,906},{107,141}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{107,141}}</string>
                <key>sourceSize</key>
                <string>{135,165}</string>
            </dict>
            <key>player1_flying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,576},{107,143}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{107,143}}</string>
                <key>sourceSize</key>
                <string>{135,165}</string>
            </dict>
            <key>player1_guard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1172},{258,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,223}}</string>
                <key>sourceSize</key>
                <string>{258,223}</string>
            </dict>
            <key>player1_guard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,685},{244,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{244,217}}</string>
                <key>sourceSize</key>
                <string>{258,223}</string>
            </dict>
            <key>player1_guard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,101},{223,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{223,162}}</string>
                <key>sourceSize</key>
                <string>{243,216}</string>
            </dict>
            <key>player1_heal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1402},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player1_heal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1402},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>player1_heal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,444},{85,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,54}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>player1_heal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1402},{104,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,72}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>player1_heal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1070},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>player1_heal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1076},{107,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,94}}</string>
                <key>sourceSize</key>
                <string>{107,94}</string>
            </dict>
            <key>player2_flying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,906},{112,136}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{112,136}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>player2_flying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1049},{112,140}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{112,140}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>player2_guard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,906},{223,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{223,162}}</string>
                <key>sourceSize</key>
                <string>{243,216}</string>
            </dict>
            <key>player2_guard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1177},{258,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,223}}</string>
                <key>sourceSize</key>
                <string>{258,223}</string>
            </dict>
            <key>player2_guard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,685},{244,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{244,217}}</string>
                <key>sourceSize</key>
                <string>{258,223}</string>
            </dict>
            <key>qusiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,630},{444,446}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,34},{444,446}}</string>
                <key>sourceSize</key>
                <string>{450,480}</string>
            </dict>
            <key>regame.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,904},{238,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,82}}</string>
                <key>sourceSize</key>
                <string>{238,82}</string>
            </dict>
            <key>regamehighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,765},{238,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,82}}</string>
                <key>sourceSize</key>
                <string>{238,82}</string>
            </dict>
            <key>single.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,326},{155,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,100}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>speeddown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1402},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>speeddown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1005},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>speeddown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1005},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>tingxialai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{440,362}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,88},{440,362}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoot_background.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84af66c9ced38b6c1958570e3b7276e0$</string>
            <key>textureFileName</key>
            <string>shoot_background.png</string>
        </dict>
    </dict>
</plist>
