<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abouthighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1962},{113,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,68}}</string>
                <key>sourceSize</key>
                <string>{113,68}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1556},{88,112}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{88,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>backhighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,159},{100,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,127}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{522,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,800}}</string>
                <key>sourceSize</key>
                <string>{522,800}</string>
            </dict>
            <key>begin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,799},{520,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,680}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>begin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{520,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,680}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>begin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{520,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,680}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>cao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1566},{394,380}}</string>
                <key>offset</key>
                <string>{-258,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,94},{394,380}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>cao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1022},{612,380}}</string>
                <key>offset</key>
                <string>{-146,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,94},{612,380}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>cao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{760,380}}</string>
                <key>offset</key>
                <string>{-44,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,94},{760,380}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>doublehighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,288},{172,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,97}}</string>
                <key>sourceSize</key>
                <string>{172,97}</string>
            </dict>
            <key>end.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1486},{488,544}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,65},{488,544}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>end0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,524},{496,614}}</string>
                <key>offset</key>
                <string>{12,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,65},{496,614}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>endgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1649},{166,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,92}}</string>
                <key>sourceSize</key>
                <string>{166,92}</string>
            </dict>
            <key>endgamehighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1481},{166,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,92}}</string>
                <key>sourceSize</key>
                <string>{166,92}</string>
            </dict>
            <key>enemy1_blowup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1486},{58,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{58,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>enemy1_blowup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1486},{58,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{58,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>enemy1_blowup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1962},{62,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{62,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>enemy1_blowup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1486},{47,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{47,39}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>enemy2_blowup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1964},{88,78}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{88,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>enemy2_blowup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1964},{88,78}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{88,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>enemy2_blowup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1964},{90,78}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{90,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>enemy2_blowup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1962},{69,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>enemy3_blowup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1648},{146,150}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{146,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>enemy3_blowup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1404},{146,150}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{146,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>enemy3_blowup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1882},{146,156}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{146,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>enemy3_blowup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1882},{154,166}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{154,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>enemy3_blowup5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1481},{144,203}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{144,203}}</string>
                <key>sourceSize</key>
                <string>{166,261}</string>
            </dict>
            <key>game_pause_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1486},{42,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>game_pause_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1486},{42,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>game_resume_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,42},{38,41}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{38,41}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>game_resume_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{38,41}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{38,41}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>hero_blowup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1964},{66,78}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{66,78}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1686},{194,184}}</string>
                <key>offset</key>
                <string>{-76,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{194,184}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>hua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,524},{274,184}}</string>
                <key>offset</key>
                <string>{-41,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{274,184}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>hua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,524},{330,184}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{330,184}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1962},{108,68}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{108,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>leavehighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1556},{142,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,90}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>musicoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1535},{27,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{27,41}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>musicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1486},{39,37}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{39,37}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>singlehighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{155,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,100}}</string>
                <key>sourceSize</key>
                <string>{155,100}</string>
            </dict>
            <key>ufo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1964},{60,82}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{60,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ufo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1486},{60,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{60,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>zhufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,524},{273,323}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,19},{273,323}}</string>
                <key>sourceSize</key>
                <string>{349,375}</string>
            </dict>
            <key>关于（随意用惹~）.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,804},{520,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,680}}</string>
                <key>sourceSize</key>
                <string>{520,680}</string>
            </dict>
            <key>开始界面飞机小花.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{396,376}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{396,376}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoot.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2ddc5d4ec5444f3b33fb84b84ed982a$</string>
            <key>textureFileName</key>
            <string>shoot.png</string>
        </dict>
    </dict>
</plist>
